
##Ignorar cosas de Visual Studio
.vs/

##Ignorar apartados personales del proyecto
C\#Launcher/bin/Debug/System/Covers/
C\#Launcher/bin/Debug/System/Collections.xml
C\#Launcher/bin/Debug/System/Files.xml
C\#Launcher/bin/Debug/System/Resolutions.xml
C\#Launcher/bin/Debug/System/Settings.xml
C\#Launcher/bin/Debug/env.txt
C\#Launcher/Clases/EnvironmentKeys.cs
